:root {
	--primary-text-color: #2F3438;
	--secondary-text-color: #ffffff;

	--primary-background-color: #e2e1d8;
	--secondary-background-color: #2f3032;

	--primary-accent-color: #efc028;
	--secondary-accent-color: #079BBB;
}