.header {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	
	padding-top: 20px;
	padding-bottom: 30px;
}

.header__container {	
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;

	@media screen and (min-width: 320px) {
		width: 320px;
	}
}

.burg-btn {
	display: inline-block;
	width: 35px;
	height: 24px;
	background-color: #ffffff;
}

.header__brand {
	font-weight: 500;
font-size: 18px;
line-height: calc(21 / 18);

color: var(--secondary-text-color);
}