.menu {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: space-between;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;

	z-index: 99;

	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(20px);
	padding-top: 20px;
	padding-bottom: 20px;

	@media screen and (min-width: 320px) {
		width: 320px;
		
	}


}

.menu__nav {
	text-align: center;
	width: 100%;
}

.menu__logo {
	display: inline-block;
	margin-bottom: 40px;
}

.menu__list {
	text-align: center;
}

.menu__item {	
	margin-bottom: 15px;
}

.menu__link {
	justify-content: center;
	font-weight: 200;
	font-size: 17px;
	line-height: calc(20 / 17);
	letter-spacing: 0.03em;

	color: var(--secondary-text-color);
}

.contacts {
	margin-bottom: 15px;

}

.contacts__link {
	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: 200;
	font-size: 17px;
	line-height: calc(20 / 17);
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
}

.contacts__icon {
	fill: var(--secondary-text-color);
	width: 20px;
	height: 20px;

	margin-right: 5px;
}
