*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font-family: Gilroy, sans-serif;
	background-color: #ffffff;
	color: var(--primary-text-color);
}

.link {
	text-decoration: none;
}

.list {
	padding: 0;
	margin: 0;
	list-style: none;
}